<div class="course-card" [ngClass]="cardClasses()">

    <div class="course-title" [ngStyle]="cardStyles()">
        {{index}} {{ course.description }}
    </div>

    @if (course.iconUrl) {
        <img width="300" alt="Angular Logo"
             [src]="course.iconUrl">
    } @else if (!course.iconUrl && course.id == 1) {
        <img width="300" alt="Angular Logo"
             src="https://angular.io/assets/images/logos/angular/angular.png">
    }
    @else {
        <h1>Este Curso no tiene Imagen.</h1>
    }

    <div class="course-description">
        {{course.longDescription}}
    </div>

    <div>
        <button (click)="onCourseViewed()">View Course</button>
    </div>
</div>