<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>Fecha de Inicio: {{startDate | date: "dd MMM yyyy"}}</div>
    <br>
    <div>Título: {{title | titlecase}}</div>
    <br>
    <div>Precio: {{price | currency: '€'}}</div>
    <br>
    <div>Descuento: {{rate | percent}}</div>
</div>

<br>
    <div class="col-md" *ngFor="let item of coreCourse | keyvalue">
        {{item.key}}: {{item.value}}
    </div>

<div class="courses">
    <!-- @for (course of courses; track course.id; let index = $index; let count = $count; let first = $first; let last = $last; let odd = $odd; let even = $even) { -->
     @for (course of courses; track course.id)
     {
        <course-card
        [course]="course"
        [index]="$index"
        [class.is-first]="$first"
        [class.is-last]="$last"
        [class.is-odd]="$odd"
        [class.is-even]="$even"
        (courseSelected)="onCourseSelected($event)" />
    }

    @empty {
        <div class="empty">
            <h2>No courses found</h2>
            <p>Try to add a new course</p>
        </div>
    }
    <!-- <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card> -->
</div>