label, input
{
    font-size: 1.3rem; /* Agrando las fuetes de las label, los input y los enlaces a 1.3 rem. */
}

table /* Personalizo la tabla con borde rojo y tamaño de la fuente también a 1.3 rem, con width 120% para que todas las columnas tengan espacio al final. */
{
    border-collapse:collapse; /* Esta linea rompe el control del estilo de Bootstrap. */
    border: 3px solid #A30000;
    font-size: 1.3rem;
    width: 100%;
}

th
{
    border: 2px solid #7A7A7A;
    font-size: 1.3rem;
    padding: 5px;
    min-width: 80px;
}

td /* A las columnas de la tabla les doy borde de color azul y el tamaño de la fuente a 1.3 rem. */
{
    border: 2px solid #7A7A7A;
    text-align: center;
    font-size: 1.3rem;
    padding: 5px;
    min-width: 80px;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

#view1, #view2, #view3, #view4
{
    padding: 80px 0;
}

.separate
{
    margin-left: 48px;
}

a{
    color: #C01719 !important;
    font-weight: 600 !important;
}
